<pesquisa-video></pesquisa-video>

<div class="container" *ngIf="videos[0].items.length > 1; else messageTemplate">
  <ol class="list-unstyled row" *ngFor="let pagina of videos">
    <li *ngFor="let video of pagina.items; let i = index;" class="col-md-4 col-ms-12">
      <video-thumbnail 
        [url]='video.snippet.thumbnails.high.url'
        [tituloVideo]='video.snippet.title'
        [nomeCanal]='video.snippet.channelTitle'
        [descricaoVideo]='video.snippet.description'
        [videoID] = 'video.id.videoId'
      ></video-thumbnail>
    </li>
  </ol>
    <div class="text-center mt-3 mb-3">
        <button class="btn btn-secondary text-center" (click)="loadVideo()" >Carrega Videos</button>
    </div>
</div>

<ng-template #messageTemplate>
  <p class="text-center  text-white">Não encontramos vídeos com o termo buscado.</p>
  <p class="text-center  text-white">Utilize outras palavras-chave.</p>
</ng-template>