<pesquisa-video></pesquisa-video>

<div class="container">
  <ol class="list-unstyled row" *ngFor="let pagina of videos">
    <li *ngFor="let video of pagina.items; let i = index;" class="col-md-4 col-ms-12">
      <video-thumbnail 
        [url]='video.snippet.thumbnails.high.url'
        [tituloVideo]='video.snippet.title'
        [nomeCanal]='video.snippet.channelTitle'
        [descricaoVideo]='video.snippet.description'
        [videoID] = 'video.id.videoId'
      ></video-thumbnail>
    </li>
  </ol>
  
  <button class="btn btn-info" (click)="loadVideo()" >Carrega Videos</button>
</div>

