<div class="container">

  <div class="text-center mt-3 mb-3">
    <form>
      <div class="row">
        <div class="col-6 offset-2">
            <input class="rounded form-control" placeholder="Pesquisar" autofocus #inputBusca>
        </div>
        <div class="col-3">
            <button class="btn btn-success" type="button" (click)="pesquisaVideo(inputBusca.value)" >Pesquisar</button>
        </div>
        
      </div>


    </form>
  </div>

  <ol class="list-unstyled row">
    <li *ngFor="let video of videos.items" class="col-md-4 col-ms-12">
      <video-thumbnail 
        [url]='video.snippet.thumbnails.high.url'
        [tituloVideo]='video.snippet.title'
        [nomeCanal]='video.snippet.channelTitle'
        [descricaoVideo]='video.snippet.description'
        [videoID] = 'video'
      ></video-thumbnail>
    </li>
  </ol>
</div>

