<div class="container">  
  <div class="mt-4">
    <button class="btn btn-secondary" (click)="voltarVideo()">Voltar</button>
  </div>

  <div class="row mt-2">
    <div class="col-12 col-sm-12">
     <strong> <h4 class="text-center text-white mb-3">{{videoDetalhe.items[0].snippet.title }}</h4> </strong> 
      <div class="text-center">
        <img class="img-thumbnail" [src]="videoDetalhe.items[0].snippet.thumbnails.standard.url">
      </div>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-4 col-sm-4">
       <strong class="text-white"> {{ videoDetalhe.items[0].snippet.channelTitle  }} </strong>
    </div>

    <div class="offset-3 col-2 col-sm-3 text-right">
      <strong class="cor-texto">Like: {{ videoDetalhe.items[0].statistics.likeCount}} </strong>
    </div>

    <div class="col-2 col-sm-2 text-right">
        <i class="far fa-thumbs-down"></i>
       <strong class="cor-texto">Deslike: {{ videoDetalhe.items[0].statistics.dislikeCount}} </strong>
      </div>
  </div>

  <div class="row mt-3">
    <div class="col-8 col-sm-8">
      <span class="cor-texto">{{ videoDetalhe.items[0].snippet.description}} </span>
    </div>
  </div>

  <div class="row mt-3 mb-3">
    <div class="col-3 col-sm-3">
        <strong class="cor-texto"> Visualizações: {{ videoDetalhe.items[0].statistics.viewCount}} </strong>
    </div>
  </div>
</div>
